@media (max-width:1439px){
}
@media (max-width:1279px){
}
@media (max-width:1199px){
}
@media (max-width:1199px) and (min-width:992px){
}
@media (max-width:991px){
}
@media (min-width:768px) and (max-width:991px){
}
@media (min-width:768px){
}
@media (min-width:992px){
}
@media (min-width:1280px){
}
@media (max-width:767px){
}
@media (max-width:640px){
}
@media (min-width:992px){
}
@media (min-width:1200px){
}

@media screen and(-ms-high-contrast: active),(-ms-high-contrast: none){
}