.fancybox-overlay {
	background: rgba( 255 , 255 , 255 , .85 );

	.fancybox-wrap, .fancybox-wrap * {
		.fancybox-skin {
			background: #fff;
			a.fancybox-close {
				position: absolute;
			    font-size: 25px;
			    top: 10px;
		        right: 10px;
			}
		}
	}
}