.fixed-header ul.menu >li >a, 
.main-nav ul.menu >li >a {
	font-size: 14px;
}

.header-container {

	.main-nav ul.menu>li a {
		border-bottom: 1px solid transparent;
		text-transform: capitalize;
	}

	&.type1 .main-nav ul.menu>li:hover, 
	&.type1 .main-nav ul.menu>li.act, 
	&.type2 .main-nav ul.menu>li:hover, 
	&.type2 .main-nav ul.menu>li.act, 
	&.type3 .main-nav ul.menu>li:hover, 
	&.type3 .main-nav ul.menu>li.act, 
	&.type4 .main-nav ul.menu>li:hover, 
	&.type4 .main-nav ul.menu>li.act, 
	&.type5 .main-nav ul.menu>li:hover, 
	&.type5 .main-nav ul.menu>li.act, 
	&.type6 .main-nav ul.menu>li:hover, 
	&.type6 .main-nav ul.menu>li.act, 
	&.type14 .main-nav ul.menu>li:hover, 
	&.type14 .main-nav ul.menu>li.act, 
	&.type7 .main-nav ul.menu>li:hover, 
	&.type7 .main-nav ul.menu>li.act, 
	&.type13 .main-nav ul.menu>li:hover, 
	&.type13 .main-nav ul.menu>li.act, 
	&.type8 .main-nav ul.menu>li:hover, 
	&.type8 .main-nav ul.menu>li.act, 
	&.type9 .main-nav ul.menu>li:hover, 
	&.type9 .main-nav ul.menu>li.act, 
	&.type10 .main-nav ul.menu>li:hover, 
	&.type10 .main-nav ul.menu>li.act, 
	&.type11 .main-nav ul.menu>li:hover, 
	&.type11 .main-nav ul.menu>li.act, 
	&.type12 .menu.side-menu>li:hover, 
	&.type12 .menu.side-menu>li.act {
		background-color: transparent;
		a {
			color:#555 !important;
			border-bottom: 1px solid #555;
		}
	}

	.links {
		li {
			border-left: 1px solid $body-color;
			font-size: inherit;
			text-transform: capitalize;
		}
	}
	.top-links-icon {
		font-size: inherit;
		a {
			text-transform: capitalize;
		}
	}
	.welcome-msg {
		margin-top:5px;
		font-size: inherit;
		text-transform: capitalize;
	}
	.selectbox .select .text {
		font-size: inherit;
		text-transform: capitalize;
	}

	.fullservice.top-links-area {
		.top-links-icon {
		    display: block;
		    padding: 5px 10px;

		    &:before {
				content: '\e80e';
			    display: inline;
			    position: relative;
			    right: auto;
			    margin-right: 5px;
			    top: 50%;
			    font-family: "porto";
			    margin-top: -5px;
			}
		}

		ul.links {
		    display: none;
		    position: absolute;
		    top: 28px;
		    z-index: 9;
		    background-color: #fff !important;
		    border-radius: 5px !important;
		    margin: 0;
		    padding: 0;
		    border: 1px solid #ccc;

		    li {
		        display: block;
		        padding: 0;
		        margin: 0;
		        border-bottom: 1px solid #eee;

		        &:last-child {
		        	border-bottom: none;
		        }

		        a {
		        	font-size: 90%;
		            display: block;
		            padding: 10px 20px;
		            color: #999;
		            white-space: nowrap;
		            text-align: left;

		            &:hover {
		            	color: #444;
		            }
		        }
		    }
		}
	}
}

.breadcrumbs {
	li {
		strong {
			font-weight: bold;
		}
	}
}