.form-list {
	.field{
		&:first-child {
			margin-right:4%;
		}
	}
}

input.qty,
.add-to-cart .qty {
	color: #555 !important;
}

label.required em {
	margin-left: 4px !important;
	font-weight: bold;
}

.form-list label.required em {
	right: -12px;
	font-weight: bold;
}

label span.required {
	color: #eb340a;
}