body.fullservice-dashboard {

	.main-container {
		padding: 70px 0 90px;

		h1 {
			text-align:center;
			font-size: 35px;
		}

		.dashboard-item {
			text-align: center;
			display: block;

			@media screen and (max-width: 991px) {
				margin-bottom: 50px;
			}

			img {
				display: block;
				margin: 0 auto;
				margin-bottom: 15px;
			}

			span {
				margin-top: 25px;
				font-size: 16px; 
				font-weight: bold; 
			}
		}
	}
}