    .sidebar .main-cat li a h2 {
    color: $theme-color;
}

.search-faqs {
    .legend {
        margin: 8px 10px 0 0;
    }
    .form-list .field .button {
        padding: 0px 15px 5px 0;
    }
}

.accordion {

	.heading {
		margin-bottom:15px;
	}

	li.faq a:hover h2 {
		color: $background-color;
	}
	

    .faq-que-ans .trigger.open,
    .faq-que-ans .trigger {
        background-image: none;
    }
    .faq-que-ans .trigger {
    	font-size: 16px;

        &:before {
            font-family: "porto";
            margin-right: 4px;
            content: '\e81c';
            color: $background-color;
        }
        &.open{
        	color:#222;
        	&:before {
                    content: '\e81b' !important;
                }
            }
        }
    
}
