@import 'bootstrap';

@import 'variables';
@import 'mixins';
@import 'typography';
@import 'helpers';

@import 'product';

@import 'dashboard';
@import 'faq';
@import 'onestepcheckout';
@import 'smartwave/fancybox';
@import 'smartwave/footer';
@import 'smartwave/header';
@import 'smartwave/inputs';
@import 'smartwave/priceslider';
@import 'smartwave/searchbar';
@import 'smartwave/topcart';

// Some generic styling (put it here for now) 
label {
    font-weight: bold;

    input+& {
        font-weight: normal;
    }
}

button.button span {
    font-weight: bold;
}

@import 'responsive';

@import 'project';