.onestepcheckout-threecolumns {
    li.shipping-address-title,
    p.onestepcheckout-numbers {
        padding-left  : 0;
        font-family   : inherit;
        text-transform: inherit;
    }
    div.osc-short input[type=email],
    div.osc-short input[type=number],
    div.osc-short input[type=password],
    div.osc-short input[type=search],
    div.osc-short input[type=tel],
    div.osc-short input[type=text],
    div.osc-short select,
    input[type=email],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    select,
    textarea {
        border: 1px solid #f1f1f1;
    }
    p.onestepcheckout-numbers span {
        background: none;
    }
    button.onestepcheckout-place-order,
    button.onestepcheckout-place-order:active,
    button.onestepcheckout-place-order:focus,
    button.onestepcheckout-place-order:hover {
        -moz-border-radius   : inherit;
        -webkit-border-radius: inherit;
        border-radius        : inherit;
        background           : $theme-color;
        border-bottom        : inherit;
        -webkit-box-shadow   : inherit;
        box-shadow           : inherit;
    }
    .onestepcheckout-column-right {
        .onestepcheckout-summary {
            tbody tr,
            thead tr {
                height: 50px;
            }
        }
        .onestepcheckout-totals {
            margin-top: 50px;
            tbody tr,
            thead tr {
                height: 70px;
            }
        }
    }
    .onestepcheckout-numbers-1:before,
    .onestepcheckout-numbers-2:before,
    .onestepcheckout-numbers-3:before,
    .onestepcheckout-numbers-4:before,
    .shipping-address-title:before {
        margin-right: 10px;
        color       : $theme-color;
    }
    .onestepcheckout-numbers-1:before {
        content: "1";
    }
    .shipping-address-title:before {
        content: "2";
    }
    .onestepcheckout-numbers-2:before {
        content: "2";
    }
    .onestepcheckout-numbers-3:before {
        content: "3";
    }
    .onestepcheckout-numbers-4:before {
        content: "4";
    }
}
.different-shipping-address {
    .onestepcheckout-numbers-2:before {
        content: "3";
    }
    .onestepcheckout-numbers-3:before {
        content: "4";
    }
    .onestepcheckout-numbers-4:before {
        content: "5";
    }
}
