/*=============================================
=               Product page view            =
=============================================*/
/* 
	Keep your scss between body.fullservice-dashboard.
	For header, footer adjustments please not here.
 */

.product-tabs .tab-content {
	min-height: unset;
	padding: 15px;
}

/*=====  Product page view  ======*/