/*-----------------------------------------------------------------------------------

	typography.less

-----------------------------------------------------------------------------------*/

dl,
dt,
dd,
ol,
ul,
li {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0;
    width: 100%;
    overflow: hidden;
}

::selection,
::-moz-selection,
::-webkit-selection {
    // background: $theme-color;
    // color: #FFF;
    text-shadow: none;
}

:active,
:focus {
    outline: none !important;
}


/* ----------------------------------------------------------------
	Typography
-----------------------------------------------------------------*/

body {
    // line-height: $line-height-base;
    // color: $body-color;
    // font-size: $font-size-base;
    // font-family: $body-font;
}

a {
    text-decoration: none !important;
    &:hover {
    }
    img {
        border: none;
    }
}

img {
    max-width: 100%;
}

iframe {
    border: none !important;
}


/* ----------------------------------------------------------------
	Basic Layout Styles
-----------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {

}

h5,
h6 {
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

h4 {
}

h5,
h6 {
}

h1,
h2,
h3,
h4,
h5,
h6 {
    > span:not(.nocolor) {
    }
}

p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form {
}

small {
}
