/*-----------------------------------------------------------------------------------

	variables.scss

-----------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Base Colors
-----------------------------------------------------------------*/

$theme-color:                   #c7cc00;
$body-color:              		#fbfbfb;
$background-color:              #33384C;
$heading-color:                 #222;



/* ----------------------------------------------------------------
	Line Height Variables
-----------------------------------------------------------------*/

$line-height-base:              1.5;
$line-height-content:           1.8;



/* ----------------------------------------------------------------
	Margins
-----------------------------------------------------------------*/

$margin-base:                   50px;
$margin-small:                  30px;
$margin-big:                    80px;



/* ----------------------------------------------------------------
	Font Families
-----------------------------------------------------------------*/

// http://fontface.codeandmore.com/login/
// @font-face {
//     font-family: ###;
//     src        : url("fonts/###.ttf");
// }

$body-font:                     'Lato', sans-serif;
$heading-font:                  'Raleway', sans-serif;
$secondary-font:                'Crete Round', serif;



/* ----------------------------------------------------------------
	Font Sizes
-----------------------------------------------------------------*/

$font-size-base:                14px;
$font-size-h1:                  36px;
$font-size-h2:                  30px;
$font-size-h3:                  24px;
$font-size-h4:                  18px;
$font-size-h5:                  $font-size-base;
$font-size-h6:                  12px;